blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
Flask==3.1.0
Flask-Cors==5.0.0
fuzzywuzzy==0.18.0
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
MarkupSafe==3.0.2
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pickle-mixin==1.0.2
pillow==11.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-learn==1.6.0
scipy==1.15.0
setuptools==75.6.0
six==1.17.0
svgwrite==1.4.3
threadpoolctl==3.5.0
Tree==0.2.4
tzdata==2024.2
urllib3==2.3.0
Werkzeug==3.1.3
